$accent-primary: #c52427
$gray: #c9c9c9
$accent-secondary: #e8cd15
$gray-darker: #9d9d9d
$dark: #292425
$white: #f1f1f1

*
    margin: 0
    padding: 0

body
    background: $white
    color: $dark

    main
        min-height: 100vh

    nav
        height: 60px
        background: bisque
        display: flex
        justify-content: space-between
        padding: 4px 15%
        align-items: center
        .appname a
            text-decoration: none
            font-weight: 800
            line-height: 2
            font-size: 48px
            color: inherit
